.customInput {
	display: flex;
	align-items: center;
	gap: 1rem;
	justify-content: space-between;
}
.error {
	color: crimson;
}
.explanationModal {
	display: flex;
	gap: 1rem;
	align-items: center;
}
