.pill {
	padding: 0.5rem;
	border-radius: 9000px;
	border: solid white 1px;
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	color: white;
}

.pill > * {
	display: flex;
	align-items: center;
	justify-content: center;
}
